<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12656395717-96araio6ue0e759g8tb13sb3khk53lnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12656395717-96araio6ue0e759g8tb13sb3khk53lnr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12656395717-cbu95divf67vnt9r1pkkf1fguq59mtmr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_8iX2yU7x2CKyjfVGSXcAUMK3etTC3E</string>
	<key>GCM_SENDER_ID</key>
	<string>12656395717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.agrisahayak</string>
	<key>PROJECT_ID</key>
	<string>agri-sahayak-n36cj2</string>
	<key>STORAGE_BUCKET</key>
	<string>agri-sahayak-n36cj2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12656395717:ios:debba600ead743b53537ac</string>
</dict>
</plist>